body{background:pink;}

h1{
	color: white;
	font-size: xxx-large;
	font-weight: bolder;
}
h2{
	color: white;
	font-size: xx-large;
	font-weight: bolder;
}
p{
	color: white;
	font-size: xx-large;
	font-weight: bold;
}
p{
	float: right;
}
button{
	font-size: xxx-large;
	color: black;
	float: right;
}
